<div *ngIf="wordsArr.length < 1">Add new word</div>
<div *ngIf="wordsArr.length >= 1">Your words:</div>

<div class="container">

  <ol>
    <app-data-item
      *ngFor="let item of wordsArr; index as index"
      [data]="item"
      [index]="index"
      [createGame]="createGame"
      (editInProcess)="onEditInProcess($event)"
      (edit)="onEdit($event)"
      (delete)="onDelete($event)"
    ></app-data-item>
  </ol>

  <div *ngIf="!editInProcess ">
    <app-word-form
      [clearForm]="clearForm"
      (changeWordForm)="onChangeWordForm($event)">
    </app-word-form>
  </div>
</div>
<div>
  <button routerLink="/choose-role"> Back</button>
  <button [disabled]="wordsArr.length < 1" (click)="onFinish()">Finish</button>
</div>
