<h1>Please, give your descriptions!</h1>

<div class="container">
  <div>
    <ol>

      <app-data-item
        *ngFor="let item of gameArr; index as index"
        [data]="item"
        [joinGame]="joinGame"
        [index]="index"
        (edit)="onEdit($event)"
      ></app-data-item>

    </ol>
  </div>
</div>

<button class="btn" routerLink="/home">Home</button>
<button class="btn" routerLink="/choose-game">Back</button>
<button class="btn" type="button" (click)="finish()">Finish</button>
