<div>
  <form
    *ngIf="myNewWordForm"
    [formGroup]="myNewWordForm"
    (submit)="onSubmit()"
  >
    <div *ngIf="!joinGame">
      <label *ngIf="editInPro">Word: </label>
      <label *ngIf="!editInPro">Add new word: </label><br/>
      <input formControlName="word" type="text" value="{{myNewWordForm.value.word}}">
    </div>
    <div>
      <label *ngIf="!joinGame">Description: </label><br/>
      <textarea formControlName="description"></textarea>
    </div>
    <div>
      <button type="submit" [disabled]="!myNewWordForm.valid">Save</button>
      <button type="button" (click)="onClear()" [disabled]="!myNewWordForm.valid">Clear</button>
      <button *ngIf="editInPro" type="button" (click)="onClose()">Close</button>
    </div>
  </form>
</div>
