<h1>Forgot Password</h1>
<span>
  Please enter email address here to retrieve the password. The password will be emailed to the address typed here.
</span>

<div>
  <form
    if="myForgotPassForm"
    [formGroup]="myForgotPassForm"
    (submit)="onForgotPassSubmit()"
    class="">
    <div>
      <label for="email">*Email Address</label>
      <input
        class="text-left"
        formControlName="email"
        id="email" type="email">
      <span class="text-danger" *ngIf="!myForgotPassForm.get('email').valid">*E-mail incorrect</span>
    </div>
    <div class="btn-group">
      <button
        [disabled]="!(myForgotPassForm.valid)"
        class="btn btn-success"
        type="submit" >Get Password
      </button>
    </div>
  </form>
</div>

<button routerLink="/home">go home</button>
